* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#wrapper {
  width: 100%;
  height: 100vh;
  background-color: #239ba7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.score,
#quiz {
  display: none;
}
button {
  padding: 30px;
  border-radius: 20px;
  border: none;
  font-size: 1.5rem;
  background-color: #ececbb;
}

#para {
  font-size: 3rem;
}
.options,
.questions {
  font-size: 2rem;
}
.score-heading {
  display: none;
}

.answer-key-question,
.answer-key-answer {
  display: none;
}
