* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.option {
  color: blue;
}

.hidden {
  display: block;
}

button {
  padding: 0.5rem 1rem;
  /* margin: 50px auto; */
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid white;
  background-color: rebeccapurple;
  color: white;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enable {
  color: blue;
  /* pointer-events: all; */
}

.disable {
  color: red;
  pointer-events: none;
}
